Gathering Toronto Postal Codes- web scraping and data wrangling

Coursera Capstone- Week 3, Part 1

In [57]:
#importing required libraries
from bs4 import BeautifulSoup
import lxml
import requests
import pandas as pd

In [58]:
#accessing wikipedia weblink to scrap the data
response = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(response, 'lxml')

In [59]:
#accessing table with postcodes and writing scraping script 
table = soup.find('table')
rows = table.find_all('tr')
l = []
for tr in rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)

In [60]:
#Renaming the columns, and cleaning the table
postcodes = pd.DataFrame(l, columns=["Postcode", "Borough", "Neighborhood"])
postcodes.drop([0], axis = 0, inplace = True)
postcodes['Neighborhood'] = postcodes['Neighborhood'].str.replace('\n','')
postcodes.head()

  Postcode           Borough      Neighborhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [61]:
#Removing Boroughs that are not assigned
postcodes = postcodes[postcodes.Borough != 'Not assigned']

In [62]:
#Grouping table to have one row per each Postcode and Borough
cols = ['Postcode','Borough']
postcodes = postcodes.groupby(cols).agg(
lambda x: ', '.join(x)
)
postcodes.reset_index(level = ['Postcode','Borough'], inplace = True)
postcodes.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [63]:
# Assigning the name of Neighborhood same as that of Borough, in case Neighborhood is not assigned
updated_value = postcodes[postcodes.Neighborhood == 'Not assigned'].Borough
postcodes.Neighborhood[postcodes.Neighborhood == 'Not assigned'] = updated_value
postcodes[postcodes.Borough == "Queen's Park"]

   Postcode       Borough  Neighborhood
85      M7A  Queen's Park  Queen's Park
93      M9A  Queen's Park  Queen's Park

In [64]:
#Checking the shape of the final data set
postcodes.shape

(103, 3)